<footer class="footer">
    <div class="footer-container">
        <div class="footer-col brand">
            <h2 class="footer-title" data-i18n="app.name">NeedTaxi</h2>
            <p data-i18n="app.tagline">Tu traslado seguro, rápido y sin complicaciones. Llegamos donde estés.</p>
        </div>
        <div class="footer-col">
            <h2 class="footer-title" data-i18n="components.footer.company">Compañía</h2>
            <ul class="footer-links">
                <li><a href="/nosotros.html" data-i18n="components.footer.about_us">Sobre nosotros</a></li>
                <li><a href="/conductores.html" data-i18n="components.footer.drivers">Nuestros conductores</a></li>
                <li><a href="/contacto.html" data-i18n="components.footer.help_center">Centro de ayuda</a></li>
            </ul>
        </div>
        <div class="footer-col">
            <h2 class="footer-title" data-i18n="components.footer.legal">Legal</h2>
            <ul class="footer-links">
                <li><a href="/terminos.html" data-i18n="components.footer.terms">Términos de servicio</a></li>
                <li><a href="/privacidad.html" data-i18n="components.footer.privacy">Política de privacidad</a></li>
                <li><a href="/cookies.html" data-i18n="components.footer.cookies">Política de cookies</a></li>
            </ul>
        </div>

    </div>

    <div class="footer-legal">
        <p>&copy;<span data-i18n="components.footer.copyright">2026 NeedTaxi. Todos los derechos reservados.</span></p>
        </p>

        <a href="https://www.w3.org/WAI/WCAG2AA-Conformance" target="_blank" rel="noopener noreferrer"
            class="badge-wcag">
            <img src="https://www.w3.org/WAI/wcag21/wcag2.1AA-v.png"
                alt="Conformidad Nivel AA, Directrices de Accesibilidad para el Contenido Web 2.1 del W3C" width="88"
                height="32" data-i18n-alt="components.footer.wcag_badge_alt">
        </a>
    </div>
</footer>