<footer class="footer">
    <div class="footer-container">
        <div class="footer-col brand">
            <h2 class="footer-title" data-i18n="">NeedTaxi</h2>
            <p data-i18n="">Tu traslado seguro, rápido y sin complicaciones. Llegamos donde estés.</p>
        </div>
        <div class="footer-col">
            <h2 class="footer-title" data-i18n="">Compañía</h2>
            <ul class="footer-links">
                <li><a href="/nosotros.html" data-i18n="">Sobre nosotros</a></li>
                <li><a href="/conductores.html" data-i18n="">Nuestros conductores</a></li>
                <li><a href="/contacto.html" data-i18n="">Centro de ayuda</a></li>
            </ul>
        </div>
        <div class="footer-col">
            <h2 class="footer-title" data-i18n="">Legal</h2>
            <ul class="footer-links" data-i18n="">
                <li><a href="/terminos.html" data-i18n="">Términos de servicio</a></li>
                <li><a href="/privacidad.html" data-i18n="">Política de privacidad</a></li>
                <li><a href="/cookies.html" data-i18n="">Política de cookies</a></li>
            </ul>
        </div>

    </div>

    <div class="footer-legal">
        <p data-i18n="">&copy; 2026 NeedTaxi. Todos los derechos reservados.</p>
        
        <a href="https://www.w3.org/WAI/WCAG2AA-Conformance" target="_blank" rel="noopener noreferrer" class="badge-wcag">
            <img src="https://www.w3.org/WAI/wcag21/wcag2.1AA-v.png" alt="Conformidad Nivel AA, Directrices de Accesibilidad para el Contenido Web 2.1 del W3C" width="88" height="32" data-i18n="">
        </a>
    </div>
</footer>