<header class="header">
    <nav class="navigation" aria-label="Menú principal" data-i18n="">
        <ul class="nav-left">
            <li><a href="solicitar.html" data-i18n="">Solicitar reserva</a></li>
            <li><a href="gestionar.html" data-i18n="">Gestionar reserva</a></li>
        </ul>

        <div class="nav-logo">
            <a href="index.html">
                <img id="logo" src="../assets/imagenes/logo.png" alt="NeedTaxi - Volver al inicio" data-i18n=""/>
            </a>
        </div>

        <ul class="nav-right">
            <li><a href="/login.html" data-i18n="">Iniciar sesión</a></li>
            <li><a href="/contacto.html" data-i18n="">Contacto</a></li>
        </ul>
    </nav>
</header>
<nav class="navigation-mobile" aria-label="Navegación principal de la aplicación" data-i18n="">
    <ul class="nav-mobile-list">
        <li>
            <a href="solicitar.html">
                <i class="fa-solid fa-taxi icon" aria-hidden="true"></i>
                <span class="text" data-i18n="">Solicitar</span>
            </a>
        </li>
        <li>
            <a href="gestionar.html">
                <i class="fa-solid fa-calendar-days icon" aria-hidden="true"></i>
                <span class="text" data-i18n="">Gestionar</span>
            </a>
        </li>
        <li>
            <a href="/login.html">
                <i class="fa-solid fa-user icon" aria-hidden="true"></i>
                <span class="text" data-i18n="">Perfil</span>
            </a>
        </li>
        <li>
            <a href="/contacto.html">
                <i class="fa-solid fa-paper-plane icon" aria-hidden="true"></i>
                <span class="text" data-i18n="">Contacto</span>
            </a>
        </li>
    </ul>
</nav>