<section id="booking-form-summary-view">
  <div class="summary-container" aria-live="polite">

    <h2 data-i18n="booking.summary.title">Resumen</h2>

    <div class="summary-item" id="summary-date-time-item" hidden>
      <span class="summary-label" data-i18n="booking.date_time">Fecha y hora</span>
      <span class="summary-value" id="summary-date-time"></span>
    </div>

    <div class="summary-item">
      <span class="summary-label" data-i18n="booking.origin">Origen</span>
      <span class="summary-value" id="summary-origin">ORIGEN PRUEBA</span>
    </div>

    <div class="summary-item">
      <span class="summary-label" data-i18n="booking.destination">Destino</span>
      <span class="summary-value" id="summary-destination">DESTINO PRUEBA</span>
    </div>

    <div class="summary-item">
      <span class="summary-label" data-i18n="booking.passengers">Pasajeros</span>
      <span class="summary-value" id="summary-passengers">1</span>
    </div>

    <div class="summary-item">
      <span class="summary-label" data-i18n="booking.luggage">Maletas</span>
      <span class="summary-value" id="summary-luggage">0</span>
    </div>

    <div class="summary-item summary-total">
      <span class="summary-label" data-i18n="booking.price">Precio</span>
      <span class="summary-value" id="summary-price">0 €</span>
    </div>


  </div>
</section>