.btn{
  border: 1px solid transparent;
  text-align: center;
  padding: 12px 24px;
  border-radius: 10px;
  text-decoration: none;
  font-weight: 600;
  transition: background-color 0.5s ease;
}

.btn-primary {
  background: var(--button-primary-bg);
  color: var(--button-primary-text);
}

.btn-primary:hover {
  background: var(--button-primary-hover);
  transition: border-radius 0.5s ease;
  border-radius: 20px;
}

.btn-primary:active {
  background: var(--button-primary-pressed);

}

.btn-secondary {
  font-weight: 800;
  background: var(--button-secondary-bg);
  color: var(--button-secondary-text);
  border: 1px solid transparent;
}

.btn-secondary:hover {
  background: var(--button-secondary-hover);
  transition: border-radius 0.5s ease;
  border-radius: 20px;
}

.btn-secondary:active {
  background: var(--button-secondary-pressed);
}

.btn-apple {
  background: var(--button-apple-bg);
  color: var(--button-apple-text);
  border: 1px solid transparent;
}

.btn-apple:hover {
  background: var(--button-apple-hover);
}

.btn-apple:active {
  background: var(--button-apple-pressed);
}

.btn-google {
  background: var(--button-google-bg);
  color: var(--button-google-text);
  border: 1px solid var(--button-google-border);
}

.btn-google:hover {
  background: var(--button-google-hover);
}

.btn-google:active {
  background: var(--button-google-pressed);
}